@font-face {
    font-family: 'Yekan';
    src: url('/assets/font/fa/byekan.ttf');
}

// :lang(fa) :dir(rtl) {
body, [dir=rtl] {
    font-family: Yekan;
}

// :dir(ltr) :dir(rtl) {
[dir=ltr] [dir=rtl] {
    line-height: 0.9;
}
