$color1: #242424;
/* $color2: #292929; */
$color2: #3a3a3a;
$color3: #9d3e55;
$color4: #2eae2e;
$color5: #D3DF38;
$color6: #FFFF00;
$color7: #0000FF;
$color8: #3E9D81;
$color9: #5e5d45;
$color10: #46262E;
$color11: #555341;
$color12: #a4ac3e;
$color13: #00b4dd;

body {
    font-family: 'Roboto', sans-serif;
    background: $color1;
    color: #bbb;
}

a {
    color: $color13;

    &:hover {
        color: lighten($color13, 20%);
    }
}

hr {
    border-color: #1c1c1c;
}

section, article {
    padding: 10px 15px;
    margin: 5px 0;
    border-radius: 4px;
    overflow-wrap: break-word;
}

.section-heading {
    color: darken($color5, 9%);
    border-bottom: 1px solid;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

code {
    color: #e45797;
    background-color: $color1;
    padding: 2px;
}

pre code {
    background: transparent;
}

.navbar {
    padding: 0 10px;

    .logo {
        transform: rotate(-15deg);
    }

    .nav-link {
        /* text-decoration: underline; */
        /* text-underline-offset: 10px; */
        /* text-decoration-color: $color3; */
        /* text-decoration-thickness: 2px; */
        border-bottom: 2px solid $color3;
        margin: 0 5px;
        padding: 5px 0px !important;
        color: #bbb !important;

        &.active {
            color: lighten($color3, 33%) !important;
        }

        &:hover {
            color: lighten($color3, 33%) !important;
        }
    }

    a[href*="//"]::after {
        content: url(/assets/img/external-link-icon.svg);
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-left: 3px;
    }
}

.navbar-brand, .jumbotron h1 {
    color: $color5 !important;
}

.bg-dark, .jumbotron, section, article, .main-footer {
    background-color: $color2 !important;
}

.jumbotron {
    padding: 15px 30px;
    margin-bottom: 7px;
    background-color: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .btn {
        margin-right: 5px;
    }
}

.accordion-input {
    opacity: 0;
}

.accordion-content {
    display: none;
}

.accordion {
    height: 600px;
    overflow-y: auto;

    .card {
        border-radius: 5px !important;
    }

    .card-body {
        padding: 13px;
    }

    pre {
        padding: 10px;
        white-space: pre-wrap;
    }
}

.accordion-input {
    ~ .accordion-button .card {
        background-color: $color11;
        color: #ddd;

        h3 {
            border-bottom: 1px solid;
            padding-bottom: 4px;
        }
    }

    &:checked {
        ~ .accordion-content {
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 94%;
            margin-left: 5%;

            .highlight {
                font-family: 'Roboto Mono', monospace;

                pre {
                    color: lightsteelblue;
                }

                @media (min-width: 1200px) {
                    width: 580px;
                }
            }

            @media (min-width: 768px) {
                margin-left: 4%;
            }

            @media (min-width: 991px) {
                width: auto;
                margin-left: 0;

                .highlight {
                        width: 565px;
                        min-height: 480px;
                        display: grid;
                        position: absolute;
                        top: 0;
                        left: 3px;
                        margin-left: 0;
                    }
                }
        }
        ~ .accordion-button .card {
            background-color: lighten($color11, 13%);
            color: #fff;

            &::before {
                content: '>';
                position: absolute;
                left: -15px;
                top: 12px;
            }
        }
    }
}

.accordion-button {
    cursor: pointer;
    width: 95%;

    @media (min-width: 992px){
        width: 300px;
    }
    @media (min-width: 1200px){
        width: 450px;
    }
}

article {
    .section-heading {
        margin-bottom: 5px;
    }

    img {
        display: block;
        margin: 5px auto;
        max-width: 100%;
        height: auto;
    }
}

.article-meta {
    margin-bottom: 7px;
    font-size: 88%;
    color: #a4a4a4;
}

.alert {
    margin: 1rem 0;
}

.main-footer {
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 5px 5px 0 0;

    .section-heading {
        font-size: 125%;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        justify-content: center;

        .navbar-nav, .nav-item, .nav-link {
            display: inline-block;
        }
    }

    .section-heading {
        font-size: 150%;

        .main-footer & {
            font-size: 115%;
        }
    }
}

@media (max-width: 1200px) {
    .navbar {
        .nav-link {
            margin: 0 4px;
        }
    }
}