<footer class="main-footer">
    <div class="row">
        <div class="col-lg-4">
            <div class="footer-section" id="community">
                <h2 class="section-heading">{{ T "community" }}</h2>
                <ul>
                    <li>{{ T "irc" }}:
                        <ul dir="ltr">
                            <li>
                                <a href="https://web.libera.chat/?channel=#raku">#raku</a>,
                                <a dir="{{$.Site.Language.LanguageDirection}}" href="https://irclogs.raku.org/raku">
                                    {{ T "logs" }}
                                </a>
                            </li>

                            <li>
                                <a href="https://web.libera.chat/?channel=#raku-beginner">#raku-beginner</a>,
                                <a dir="{{$.Site.Language.LanguageDirection}}" href="https://irclogs.raku.org/raku-beginner">
                                    {{ T "logs" }}
                                </a>
                            </li>
                            <li>
                                <a href="https://web.libera.chat/?channel=#raku-doc">#raku-doc</a>,
                                <a dir="{{$.Site.Language.LanguageDirection}}" href="https://irclogs.raku.org/raku-doc">
                                    {{ T "logs" }}
                                </a>
                            </li>
                            <li>
                                <a href="https://web.libera.chat/?channel=#raku-dev">#raku-dev</a>,
                                <a dir="{{$.Site.Language.LanguageDirection}}" href="https://irclogs.raku.org/raku-dev">
                                    {{ T "logs" }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>{{ T "matrix" }}:
                        <ul>
                            <li>{{ T "room" }}:
                                <ul dir="ltr">
                                    <li>
                                        <a href="https://matrix.to/#/#raku:libera.chat">
                                            #raku:libera.chat
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://matrix.to/#/#raku-beginner:libera.chat">
                                            #raku-beginner:libera.chat
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://matrix.to/#/#raku-dev:libera.chat">
                                            #raku-dev:libera.chat
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>{{ T "space" }}:
                                <ul dir="ltr">
                                    <li>
                                        <a href="https://matrix.to/#/#raku-space:matrix.org">
                                            #raku-space:matrix.org
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://matrix.to/#/#raku-development:matrix.org">
                                            #raku-development:matrix.org
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://matrix.to/#/#raku-community-projects:matrix.org">
                                            #raku-community-projects:matrix.org
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>{{ T "discord" }}:
                        <a href="https://discord.gg/VzYpdQ6">
                            {{ T "raku_server" }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="social-media">
                <h2 class="section-heading">{{ T "social_media" }}</h2>
                <ul>
                    <li>{{ T "mastodon" }}:
                        <a dir="ltr" href="https://fosstodon.org/tags/RakuLang">@RakuLang</a>,
                        <a dir="ltr" href="https://fosstodon.org/tags/RakuLang">#RakuLang</a>
                    </li>
                    <li>{{ T "reddit" }}:
                        <a dir="ltr" href="https://www.reddit.com/r/rakulang/">r/rakulang</a>
                    </li>
                    <li>{{ T "github" }}:
                        <a dir="ltr" href="https://github.com/Raku">@Raku</a>
                    </li>
                    <li>{{ T "stack_overflow" }}:
                        <a dir="ltr" href="https://stackoverflow.com/questions/tagged/raku">[raku]</a>
                    </li>
                    <li>{{ T "rss" }}:
                        <a href="{{ "/blog/index.xml" | relLangURL }}">{{ T "blog_feed" }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="language">
                <h2 class="section-heading">{{ T "language" }}</h2>
                <ul>
                    {{ range $.Site.Home.AllTranslations }}
                    <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="footer-section" id="git-repos">
                <h2 class="section-heading">{{ T "git_repos" }}</h2>
                <ul>
                    <li><a href="https://github.com/Raku">{{ T "raku_organization" }}</a></li>
                    <li><a href="https://github.com/Raku/doc">
                        {{ T "documentation" }}</a>
                    </li>
                    <li><a href="https://github.com/Raku/user-experience">
                        {{ T "user_experience" }}</a>
                    </li>
                    <li><a href="https://github.com/Raku/problem-solving">
                        {{ T "problem_solving" }}</a>
                    </li>
                    <li><a href="https://github.com/Raku/marketing">
                        {{ T "marketing" }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="raku-steering-counsil">
                <h2 class="section-heading">{{ T "raku_steering_counsil" }}</h2>
                <ul>
                    <li>
                        <a href="https://web.libera.chat/?channel=#raku-steering-council">
                            {{ T "irc" }}
                        </a>,
                        <a dir="{{$.Site.Language.LanguageDirection}}" href="https://irclogs.raku.org/raku-steering-council">
                            {{ T "logs" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/blob/main/papers/code_of_conduct.md">
                            {{ T "code_of_conduct" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/blob/main/papers/Raku_Steering_Council_Code.md">
                            {{ T "raku_governance_code" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council">
                            {{ T "git_repo" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/tree/main/papers">
                            {{ T "papers" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/tree/main/announcements">
                            {{ T "announcements" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/tree/main/minutes">
                            {{ T "minutes" }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="email">
                <h2 class="section-heading">{{ T "email" }}</h2>
                <ul>
                    <li>
                        <a href="mailto:RSC@raku.org">{{ T "raku_steering_counsil" }}</a>
                    </li>
                    <li>
                        <a href="mailto:documentation@raku.org">{{ T "documentation_team" }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <script type="text/javascript" src="/assets/js/accordion.js"></script>
</footer>
