<footer class="main-footer">
    <div class="row">
        <div class="col-lg-4">
            <div class="footer-section" id="community">
                <h2 class="section-heading">{{ i18n "community" }}</h2>
                <ul>
                    <li>{{ i18n "irc" }}:
                        <a href="https://web.libera.chat/?channel=#raku">#raku</a>,
                        <a href="http://colabti.org/irclogger/irclogger_log/raku">
                            {{ i18n "logs" }}
                        </a>
                    </li>
                    <li>{{ i18n "matrix" }}:
                        <ul>
                            <li>{{ i18n "room" }}:
                                <a href="https://matrix.to/#/#raku:libera.chat">
                                    #raku:libera.chat
                                </a>
                            </li>
                            <li>{{ i18n "community" }}:
                                <a href="https://matrix.to/#/+raku:matrix.org">
                                    +raku:matrix.org
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>{{ i18n "proprietary" }}:
                        <ul>
                            <li>{{ i18n "discord" }}:
                                <a href="https://discord.gg/VzYpdQ6">
                                    {{ i18n "raku_server" }}
                                </a>
                            </li>
                        </ul>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="social-media">
                <h2 class="section-heading">{{ i18n "social_media" }}</h2>
                <ul>
                    <li>{{ i18n "twitter" }}:
                        <a href="https://twitter.com/raku_news">@raku_news</a>,
                        <a href="https://twitter.com/hashtag/rakulang">#rakulang</a>
                    </li>
                    <li>{{ i18n "reddit" }}:
                        <a href="https://www.reddit.com/r/rakulang/">r/rakulang</a>
                    </li>
                    <li>{{ i18n "github" }}:
                        <a href="https://github.com/Raku">@Raku</a>
                    </li>
                    <li>{{ i18n "stack_overflow" }}:
                        <a href="https://stackoverflow.com/questions/tagged/raku">[raku]</a>
                    </li>
                    <li>{{ i18n "rss" }}:
                        <a href="{{ "/blog/index.xml" | relLangURL }}">{{ i18n "blog_feed" }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="language">
                <h2 class="section-heading">{{ i18n "language" }}</h2>
                <ul>
                    {{ range $.Site.Home.AllTranslations }}
                    <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="footer-section" id="git-repos">
                <h2 class="section-heading">{{ i18n "git_repos" }}</h2>
                <ul>
                    <li><a href="https://github.com/Raku">{{ i18n "raku_organization" }}</a></li>
                    <li><a href="https://github.com/Raku/doc">
                        {{ i18n "documentation" }}</a>
                    </li>
                    <li><a href="https://github.com/Raku/user-experience">
                        {{ i18n "user_experience" }}</a>
                    </li>
                    <li><a href="https://github.com/Raku/problem-solving">
                        {{ i18n "problem_solving" }}</a>
                    </li>
                    <li><a href="https://github.com/Raku/marketing">
                        {{ i18n "marketing" }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="raku-steering-counsil">
                <h2 class="section-heading">{{ i18n "raku_steering_counsil" }}</h2>
                <ul>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council">
                            {{ i18n "git_repo" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/blob/main/papers/Raku_Steering_Council_Code.md">
                            {{ i18n "raku_governance_code" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/blob/main/papers/code_of_conduct.md">
                            {{ i18n "code_of_conduct" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/tree/main/papers">
                            {{ i18n "papers" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/tree/main/announcements">
                            {{ i18n "announcements" }}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Raku/Raku-Steering-Council/tree/main/minutes">
                            {{ i18n "minutes" }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="footer-section" id="email">
                <h2 class="section-heading">{{ i18n "email" }}</h2>
                <ul>
                    <li>
                        <a href="mailto::RSC@raku.org">{{ i18n "raku_steering_counsil" }}</a>
                    </li>
                    <li>
                        <a href="mailto:documentation@raku.org">{{ i18n "documentation_team" }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <script type="text/javascript" src="/assets/js/accordion.js"></script>
</footer>
