<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>{{if (eq .Kind "home") }} {{ $.Site.Title }} {{ else }} {{ i18n "raku" }} - {{ .Title }}{{ end }}</title>
    <meta name="description" content="{{ $.Site.Title }}">

    {{ if (eq $.Site.Language.LanguageDirection "rtl") }}
    <link rel="stylesheet" href="/assets/css/bootstrap.rtl.min.css">
    {{ else }}
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    {{ end }}

    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    {{ if (eq $.Site.Language.Lang "fa") }}
    {{ $rtlStyle := resources.Get "sass/rtl.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $rtlStyle.Permalink }}"> 
    {{ $faStyle := resources.Get "sass/fa.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $faStyle.Permalink }}">
    {{ else if (eq $.Site.Language.Lang "en") }}
    {{ $enStyle := resources.Get "sass/en.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $enStyle.Permalink }}">
    {{ end }}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    

    <link rel="alternate" type="application/rss+xml" href="{{ "/blog/index.xml" | relLangURL }}" title="Raku core blog">
</head>
