{{ define "header"}}
<header class="jumbotron">
    <h1>{{ T "raku_programming_language" }}</h1>
    <p class="lead">{{ T "raku_description" }}</p>
    <a href="{{ "/downloads" | relLangURL }}" class="btn btn-primary me-2">{{ T "download" }}</a>
    <a href="{{ "/community#GettingInvolved" | relLangURL }}" class="btn btn-secondary me-2">{{ T "get_involved" }}</a>
</header>
{{ end }}

{{ define "main" }}
{{ $highlight_language := "raku" }}
<div class="row">
    <div class="col-lg-12 raku-accordion-container">
        <section id="why-raku" class="raku-accordion">
            <h2 class="section-heading">{{ T "why_raku" }}</h2>
            {{ range $card_index, $card_name :=
            slice "hello_world" "object_oriented" "functional" "grammars" "async" "unicode" "types" "cli" "nativecall" "pod" "version" "mutable" "batteries" "error" "backends" }}
            <div class="raku-accordion-item">
                <input type="radio" name="raku-accordion-input" id="raku-accordion-input-{{.}}" class="raku-accordion-input" {{ if (eq $card_index 0) }}checked{{ end }}>
                <label for="raku-accordion-input-{{$card_name}}" class="raku-accordion-button">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title h5">{{ printf "card_%s" $card_name | T }}</h3>
                            <p class="card-text">{{ printf "card_%s_desc" $card_name | T }}</p>
                        </div>
                    </div>
                </label>
                {{- $file_path := printf "/code_examples/%s.raku" $card_name -}}
                {{- if (fileExists $file_path) -}}
                <div class="raku-accordion-content">
                    {{- $code := readFile $file_path -}}
                    {{ highlight $code $highlight_language "" }}
                </div>
                {{ end }}
            </div>
            {{ end }}
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section id="resources">
            <h2 class="section-heading">{{ T "resources" }}</h2>
            <div class="row">
                <div class="col-lg-6">
                    <h3>{{ T "guides" }}</h3>
                    <ul>
                        <li><a href="https://raku.guide/">{{ T "raku_guide" }}</a></li>
                        <li><a href="https://learnxinyminutes.com/docs/raku/">{{ T "learn_raku_in_y_minutes" }}</a></li>
                    </ul>
                    <h3>{{ T "courses" }}</h3>
                    <ul>
                        <li><a href="https://course.raku.org/">{{ T "complete_raku_course" }}</a></li>
                    </ul>
                    <h3>{{ T "examples" }}</h3>
                    <ul>
                        <li><a href="https://rosettacode.org/wiki/Category:Raku">Rosetta Code</a></li>
                    </ul>
                    <h3>{{ T "books" }}</h3>
                    <h4>{{ T "new_to_programming" }}</h4>
                    <ul>
                        <li><a href="https://github.com/LaurentRosenfeld/think_raku">{{ T "think_raku" }}</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3>{{ T "try_online" }}</h3>
                    <ul>
                        <li><a href="https://glot.io/new/raku">glot.io</a></li>
                        <li><a href="https://repl.it/languages/raku">repl.it</a></li>
                    </ul>
                    <h3>{{ T "coming_from_another_pl" }}</h3>
                    <p>{{ T "if_coming_from_another_pl" | safeHTML }}
                        <br>
                        <a href="https://docs.raku.org/language/py-nutshell">{{ T "python" }}</a>,
                        <a href="https://docs.raku.org/language/js-nutshell">{{ T "javascript" }}</a>,
                        <a href="https://docs.raku.org/language/rb-nutshell">{{ T "ruby" }}</a>,
                        <a href="https://docs.raku.org/language/haskell-to-p6">{{ T "haskell" }}</a>,
                        <a href="https://docs.raku.org/language/5to6-overview">{{ T "perl" }}</a>
                    </p>
                    <p>{{ T "using_inline_modules" }}
                        <br>
                        <a href="https://github.com/niner/Inline-Python">Inline::Python</a>,
                        <a href="https://github.com/niner/Inline-Perl5">Inline::Perl</a>,
                        <a href="https://raku.land/cpan:AZAWAWI/Inline::Go">Inline::Go</a>,
                        <a href="https://github.com/awwaiid/p6-Inline-Ruby">Inline::Ruby</a>,
                        <a href="https://github.com/raydiak/Inline-Lua">Inline::Lua</a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{{ .Content }}
{{ end }}
